<a href="https://colab.research.google.com/github/Thiagofns24/python/blob/main/Curso_Basico_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Passo a Passo de solução do Desafio**

In [ ]:
# Lógica de programação 

# Passo 0 - Entender o desafio que você quer resolver

# Passo 1 - Percorrer todos os arquivos da pasta base de dados (Pasta Vendas)
import os
import pandas as pd

lista_arquivo = os.listdir("/content/drive/MyDrive/Curso Básico de Python/Vendas")
display(lista_arquivo)

['Devolucoes - São Paulo.csv',
 'Devolucoes - Curitiba.csv',
 'Devolucoes - Fortaleza.csv',
 'Devolucoes - Recife.csv',
 'Devolucoes - Goiás.csv',
 'Devolucoes - Rio de Janeiro.csv',
 'Devolucoes - Belo Horizonte.csv',
 'Devolucoes - Porto Alegre.csv',
 'Devolucoes - Salvador.csv',
 'Vendas - Salvador.csv',
 'Vendas - Belo Horizonte.csv',
 'Vendas - Goiás.csv',
 'Vendas - Porto Alegre.csv',
 'Vendas - Fortaleza.csv',
 'Vendas - São Paulo.csv',
 'Vendas - Recife.csv',
 'Vendas - Rio de Janeiro.csv',
 'Vendas - Curitiba.csv']

In [ ]:
tabela_total = pd.DataFrame()

# Passo 2 - Importar as bases de dados de vendas
for arquivo in lista_arquivo:
  # se tem "Vendas" no nome do arquivo, então
  if "Vendas" in arquivo:
    # importar o arquivo
    tabela = pd.read_csv(f"/content/drive/MyDrive/Curso Básico de Python/Vendas/{arquivo}")
    tabela_total = tabela_total.append(tabela)

# Passo 3 - Tratar / Compilar as bases de dados
display(tabela_total)

     Unnamed: 0     SKU     Produto  ...      Loja Preco Unitario Unnamed: 8
0            40  HL1148      Câmera  ...  Salvador           2100        NaN
1            42  HL2714      Tablet  ...  Salvador           1600        NaN
2            51  HL1918      iPhone  ...  Salvador           5300        NaN
3            70  HL9962     Android  ...  Salvador           3400        NaN
4            94  HL1918      iPhone  ...  Salvador           5300        NaN
..          ...     ...         ...  ...       ...            ...        ...
714        9859  HL2714      Tablet  ...  Curitiba           1600        NaN
715        9876  HL4379   Televisão  ...  Curitiba           2500        NaN
716        9918  HL1148      Câmera  ...  Curitiba           2100        NaN
717        9944  HL1918      iPhone  ...  Curitiba           5300        NaN
718        9998  HL7348  SmartWatch  ...  Curitiba           1400        NaN

[9999 rows x 10 columns]

In [ ]:
# Passo 4 - Calcular o produto mais vendido (em quantidade)
tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=False)
display(tabela_produtos)

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [ ]:
# Passo 5 - Calcular o produto que mais faturou (em faturamento)
tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']

tabela_faturamento = tabela_total.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento[["Faturamento"]].sort_values(by="Faturamento", ascending=False)
display(tabela_faturamento)

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [ ]:
# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento) - criar um gráfico/dashboard
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']]
display(tabela_lojas)

                Faturamento
Loja
Belo Horizonte      6480300
Curitiba            7060500
Fortaleza          14087900
Goiás               7441800
Porto Alegre        6868600
Recife              7303000
Rio de Janeiro     14867800
Salvador           13111300
São Paulo          22098300

In [ ]:
import plotly.express as px

grafico = px.bar(tabela_lojas, x=tabela_lojas.index, y='Faturamento')
grafico.show()